*{
    padding: 0;
    margin: 0;
}

#contenedor1{
    width: 800px;
    height: 100%;
    margin: 10px;
    border: 2px solid;
    text-align: left;
}

#encabezado{
    width: 800px;
    height: 100%;
    border: 1px solid;
}

#menu{
    width: 800px;
    border: 1px solid;
    }
    
    ul {
        text-align: center;
    }

    #contenido{
        height: 100%;
        width: 800px;
        border: 1px solid;
        display: inline-block;
        text-align: center;

    }

    #dentro{
        height: 600px;
        width: 50%;
        margin: 0.5em;
        border: 2px solid;
        display: inline-block;
        vertical-align: top;
        border-radius: 5px;
    }
    
    #fuera{
        height: 600px;
        width: 40%;
        margin: 0.5em;
        border: 2px solid;
        display: inline-block;
        vertical-align: top;
        border-radius: 5px;
    }
    
    #pie {
        height: 20px;
        width: 800px;
        text-align: center;
        border: 1px solid;
        }
        